.menu {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu-trigger {
    background-color: #F00;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 5000 !important;
}

.menu-trigger:hover {
    background-color: #FFF000;
}

.menu-trigger:hover .dropdown {
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #FDF;
    transition: all 0.4s ease;
    padding: 40px;
}

<!-- exercise 12 and 13-->
html, body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.navigation {
   width: 100%;
   background-color: #1D71B8;
   color: #FFF;
   padding: 40px;
}

.content {
   display: flex;
   background-color: #FF0;
   justify-content: center;
   align-items: center;
   padding: 30px;
   height: 50%;
}

.block {
    background-color: #F00;
    display: inline-block;
    width: 32%;
    height: 150px;
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 5%;
    transition: all 0.3s ease;
}

.block:hover {
    border: 5px solid transparent;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footer {
   background-color: #000;
   color: #FFF;
   padding: 40px;
}