:root {
    --regular: "Arial";
    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;
    --darker-red: #b31714;
    --lighter-red: #dc3439;
    --white: #FFF;
    --black: #000;
    --margin: 200px;
    --padding: 50px;
    --font-weight: bold;
}

a-2 {
    font: var(--bold);
    font-family: var(--regular);
    color: var(--dark-brown);
    background-color: var(--lighter-red);
    margin: var(--margin);
    padding: var(--padding);
}

.second-button a-2 {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    text-decoration: none;
    transition: all 0.5s ease;
}

.second-button a-2:visited {
    background-color: #774231;
    text-decoration: none;
  }

.second-button a-2:hover {
    background-color: #b31714;
    text-decoration: none;
  }

.third-button a-3 {
    width: 200px;
    padding: 10px;
    color: greenyellow;
    background-color: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(12,94,12,1) 31%, rgba(0,212,255,1) 100%);
    border-radius: 50px;
    margin: 400px;
    padding: 50px;
    font: Arial;
    font-weight:bold;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    text-decoration: none;
    transition: all 1.0s ease;
}

.third-button a-3:active {
    background-color: lightgreen;
    text-decoration: none;
}

.third-button a-3:hover {
    background-color: darkgreen;
    text-decoration: none;

}

h1 {
    font-family: var(--regular);
    color: var(--darker-red);
}

h2 {
    font: var(--bold);
    color: var(--black);
    margin: var(--margin);
    padding: var(--padding);
}

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.green-rectangle {
    width: 150px;
    height: 50px;
    color: #FFF;
    padding: 30px;
    margin: 30px;
    font-size: 25px;
    background-color: #00FF00;
    display: inline-block; 
}

#gold-bar {
    width: 150px;
    height: 40px;
    color: #000000;
    background-color: gold;
    display: inline-block;
}

.cascading-parent {
    font-weight: bold;
    color: #FFF;
}

.cascading-child {
    background-color: #000;
    width: 200px;
    height: 200px;
    color: #FF0 !important;
}

.cascading-parent-2 {
    font-weight: bold;
    color: #FFF;
}

.cascading-child-2 {
    background-color: saddlebrown; 
    width: 200px;
    height: 200px;
    color: navy;
}

a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #000000;
}

.cascading-parent h3 {
    font-size: 40px;
    color: sienna
}

.cascading-parent a-2 {
    font-size: 23px;
    color: navy;
    font-weight: bold;
}

.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
}

.cascading-parent h5 {
    font-size: 10px;
    color: darkgreen
}

a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }

  .button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    text-decoration: none;
    transition: all 0.5s ease;
  }

  .button-container a:hover {
    background-color: #AF1F16;
    text-decoration: none;
  }

 <!-- exercise 12 and 13-->
 html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
 }

 .navigation {
    width: 100%;
    background-color: #1D71B8;
    color: #FFF;
    padding: 40px;
 }

 .content {
    background-color: #FF0;
    padding: 40px;
 }

 .footer {
    background-color: #000;
    color: #FFF;
    padding: 40px;
 }